* {box-sizing: border-box;}
body {background-color:#EAEAEA;color:#555555;
      font-family: Arial, Helvetica, sans-serif;

}	 

#wrapper {
         
        background-color: #FFFFFF;
        background-image: linear-gradient(to bottom, #FFFFFF, #09C7E3);
}		  

header {background-color:#002171;color:#ffffff;
		text-align: center;
		letter-spacing: 0.25em;	
}		
h1 {margin-bottom:0;
    margin-top: 0;
    font-family: Georgia, "Times New Roman", Serif;
	padding-top: 0.5em;
	padding-bottom: 0.5em;}

nav {
	 text-align: center;
     font-weight: bold;
	 padding: 0;
     font-size: 120%}

nav ul {list-style-type: none;
        margin: 0;
		padding-left: 0;
		font-size: 1.2em;}
nav	li {border-bottom: 1px solid #002171;}	
nav a {text-decoration: none;}
nav a:link {color:#5C7FA3;}
nav a:visited {color: #344873;}
nav a:hover {color: #A52A2A;}
main {padding: 1px 20px 20px 20px;
      display: block;
      background-color: #FFF;
	  margin-left: 190px;
	  padding-left: 30px;
      overflow: auto;
}
		 
h2 {color:#1976d2;
    font-family: Georgia, "Times New Roman", Serif;
	text-shadow: 1px 1px 1px #CCC;}
h3 {color:#000033;
    font-family: Georgia, "Times New Roman", Serif;}

main ul {list-style-image: url(marker.gif);}
	
dt {color:#002171;}

.resort {color:#1976d2;
         font-weight: bold;}
#contact {font-size: 90%;}
footer {font-size:75%;
        font-style: italic;
        text-align: center;
        font-family: Georgia, "Times New Roman", serif;		
        padding: 2em;
		
		background-color: #FFF;}
#homehero {margin-left: 190px;
	       height: 300px;
           background-image: url(coast.jpg);
           background-repeat: no-repeat;
           background-size: 100% 100%;} 
#yurthero {margin-left: 190px;
	       height: 300px;
           background-image: url(yurt.jpg);
           background-repeat: no-repeat;
           background-size: 100% 100%;}	
#trailhero {margin-left: 190px;
           height: 300px;
           background-image: url(trail.jpg);
           background-repeat: no-repeat;
           background-size: 100% 100%;}	

table { border: 2px solid #39C;
        border-collapse: collapse; }
td, th { padding: 0.5em; border: 2px solid #39C; }
td { text-align: center; }
.text { text-align: left; }
tr:nth-of-type(odd) { background-color: #F5FAFC; }
form {display:flex; flex-flow: column nowrap;}
input, textarea {margin-bottom: .5em;}		

@media (min-width: 600px) {
	        nav ul { display: flex;
			         flex-direction: row;
					 flex-wrap: nowrap;
			         justify-content: space-around; }
			nav li { border-bottom: none; }
            section { margin-left:2em;
                      margin-right:2em;			
			          flex: 1;
		    }
			.flow { display: flex;
			        flex-direction: row; }
			form {width: 60%;
        		  max-width:30em; 
			      display: grid; 
			      grid-gap: 1em; gap: 1em;
            grid-template-rows: auto;				  
			grid-template-columns: 6em 1fr }
            input[type="submit"] {grid-column: 2/3;
			width: 9em;}			
} 

@media (min-width: 1024px) {
	        #wrapper { margin: auto;
			           width:80%;
			           border: 1px solid #002171;
			           box-shadow: 3px 3px 3px #002171;
	        }
			nav { text-align: left;
			      padding-left: 1em;}
			@supports (display: grid) {
                  nav ul { flex-direction: column;
				            padding-top: 1em; }	
                  .hero  { grid-area: hero; }
                  header { grid-area: header; }
                  nav    { grid-area: nav; }
                  main   { grid-area: main; }
                  footer { grid-area: footer; }	
                  #wrapper { display: grid;
                             grid-template:
                                 "header header"
                                 "nav    hero"								 
								 "nav    main" 
								 "nav    footer"
								 /100px 1fr ;
				  }
            }
}			